.bgColorOne {
    background-color: #0d0d0d;
}

.bgColorTwo {
    background-color: #1a1a1a;
}

.bgColorAccent {
    background-color: #b22222;
}

.txtColorOne {
    color: #a9a9a9;
}

.txtColorTwo {
    color: #ffffff;
}

.txtColorAccent {
    color: #b22222;
}

.nav-link {
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link:hover {
    color: #b22222;
}

.active {
    color: #b22222 !important;
    font-weight: bolder;
}

img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.img-card {
    transition: transform 0.3s ease;
}

.img-card:hover {
    transform: scale(1.05);
}

html {
    scrollbar-width: thin;
    scrollbar-color: #b22222 #0d0d0d;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #b22222;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0d0d0d;
}

.form-control {
    color: #fff;
    background-color: #1a1a1a;
    caret-color: #b22222;
}

.form-control:focus {
    color: #fff;
    background-color: #333232;
}

.form-control::placeholder {
    color: #fff;
}

.btn-outline-light:hover {
    background-color: var(--mainColor);
    border-color: #b22222;
    color: #b22222;
}

:root {
    scroll-padding-top: 74px;
    overflow: scroll;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(178, 34, 34)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 2px #b22222 !important;
    border: none !important;
}

.form-control:focus {
    box-shadow: 0 0 0 2px #b22222 !important;
    border: none !important;
}

.btn:active {
    color: #fff !important;
    background-color: #b22222 !important;
    border-color: #b22222 !important;
}